body{
    margin: -8px;
    height: 100%;
}

.home-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    .home-body{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
        background-color: rgb(214, 211, 211);
    }
}
