<div class="configure-container">
        <h1>Form Configuration</h1>
        <form (submit)="saveConfiguration()">
            <div class="form-header">
                <h5> Show Field</h5>
                <h5> Required Field</h5>
            </div>
            <div
                #wrapper
                kendoDragTargetContainer
                kendoDropTargetContainer
                dragTargetFilter=".form-body"
                dropTargetFilter=".form-body"
                dragTarget = ".form-fields"
                dropTarget = ".form-fields"
                [hint]="{ hintClass: 'rowHint'}"
                [dragData]="dragData"
                (pointerover)="onPointerMove($event)"
                (onDrag)="onDrag($event)"
                (onDragEnd)="onDragEnd($event)"
                (onDrop)="onDrop($event)"
            >
                <div class="form-body"  
                    *ngFor="let field of fields;
                    let i = index"
                    [attr.data-index]="i">

                    <div class="form-fields">
                        <input type="checkbox" [id]="field.label" [name]="field.label" [(ngModel)]="field.show" >
                        <label class="label-container" [for]="field.label">{{ field.label }}</label>
                        <input type="checkbox" [id]="'required-' + field.label" [name]="'required-' + field.label" [(ngModel)]="field.required" [disabled]="!field.show">
                    </div>
                </div>
                <div class="error-message" *ngIf="!validConfiguration">Please select at least one option.</div>
            </div>
            <div class="config-button">
                <!-- <button>Save Changes</button> -->
                <button kendoButton size="none" class="config-button-custom-size">Save Changes</button>
            </div>
    </form>
</div>
